<div class="login-body">
  <div class="container">
      <div class="row">
          <div class="offset-md-3 col-md-6">
               <div class="login-form">
                    <div class="logocontainer">
                        <img src="../../../assets/login/Logo.png">
                    </div>
                    <div class="formcontainer">
                        <h3 class="text-center text-color-top">Login</h3>
                        <form class="loginformcontainer">
                            <div class="form-group">
                              <input type="email" class="form-control form-input" id="email" name="email"
                              aria-describedby="emailHelp" placeholder="Enter email" required [(ngModel)]="email">
                            </div>
                          
                            <div class="form-group">
                                <button type="button" mat-raised-button class="btn btn-primary btn-block login-btn" 
                                (click)="onSendClick()">
                                    SEND</button>
                            </div>
                            <h6 class="text-center text-color-white">We will email you a link to reset your password</h6>
                            <div class="form-group">
                                <a (click)="onLoginClick()" class="text-forgot text-center">
                                    <h6 class="text-center">Go back to <span style="font-weight:600">Login</span></h6>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
          </div>
      </div>
  </div>

  <!-- <div class="footer_register">
      <div class="container">
        <div class="row">
          <div class="offset-md-3 col-md-6">
            <p class="footer_text text-center">Copyright © 2019 Menper. All Rights Reserved.
                </p>
          </div>
      </div>
  </div> -->

</div>   
