.pl-0{
    padding-left: 0;
}
.main-container{
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin-top: 65px;
    min-height: 700px;
    max-height: 100%
}
.header-container{
    padding: 10px;
    background-color: #fff;
}
.header-container h5{
    margin: 0;
    /* padding-left: 10px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.top-head-style{
    padding-top: 5px;
    text-transform: uppercase;
}
.table-container{
    background-color: #efefef;
    padding: 25px 20px;
}
.view-style{
    margin-bottom: .8rem;
}
.top-headerstyle{
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    white-space: nowrap;
    padding: 0 16px;
}
.add-space{
    flex:1 1 auto;
}
/* .add-new-assignment-btn{
    margin-top: 70px;
} */
.add-new-btn{
    background-color: #efefef;
    border: #efefef;
    color: #333;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 5px;
    padding: 6px 10px 6px 0px;
    outline: none;
    /* margin-right: 10px; */
}
.add-new-btn.active, .add-new-btn:focus, .add-new-btn.hover{
    outline: none;
}

.plus-icon{
    padding: 6px 10px;
    margin-left: 0px;
    right: 8px;
    position: relative;
    border-radius: 50%;
    background-color: #0A79A3;
    color: #fff;
}
.table-striped tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff;
    border: 0;
}
.table-row{
    background-color: #c3d9e2;
}
.table-row th{
    font-size: 14px;
    font-weight: 700;
}
/* .table-row th:first-child {
    width: 60px;
} */
/* .table-row th:last-child {
    width: 100px;
} */
.table-body td{
   font-size: 14px;
   color: #6a6a6a;
   padding: 13px 0;
   border-top: 0;
}
.item-table{
    overflow-x: auto;
}
.table-bordered th{
    border-bottom: 0;
}
.table td{
    border-top: 0;
    border-bottom: 0;
    padding: 15px .75rem;
}
.table-view{
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.mat-toolbar-row{
  padding: 0 24px 0 0;
}
.action-menu a{
    color: #fff;
    font-size: 14px;
}
.action-menu a:hover {
    background-color: rgba(0,0,0,.5);
}

.action-sec{
    text-align: center;
}
.action-btn{
    background-image: linear-gradient(#0A79A3, #094D6E);
    border: 0;
    border-radius: 3px;
    padding: 3px 12px;
}
.action-btn span{
    color: #fff;
}
button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #fff !important;
    
}
::ng-deep .mat-menu-item{
    color: #000 !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, 
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
  .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, 
  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #0A79A3 !important; 

}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
    background-color: #0A79A3 !important; 
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color:#0A79A3 !important;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #0A79A3 !important;
}
.select-container select{
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: .8rem;
}
.mat-menu-item{
    height: 40px;
    line-height: 20px;
}

.paginationStyle{
    cursor: pointer;
    padding: 20px 0;
}
.paginationStyleLink{
    color: #094D6E !important;
}
.table-scroll-container{
    overflow-y: scroll;
}


@media (max-width: 767px){
    .container {
        max-width: 100%;
    }
}
@media (max-width: 599px){
    .main-container{
        margin-top: 56px;
    }
}