<div class="add-new-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-form-container">
          <button type="button" class="close cancel-btn" (click)="cancelClick()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
         
          <div class="text-header">
            <h5 class="modal-title add-new-title text-center">{{title}}</h5>
          </div>
          <div class="delete-text">
            <p class="text-center">{{descr}}</p>
          </div>
          <div class="form-group text-center">
            <button type="button" mat-raised-button 
            class="btn btn-primary btn-style send-btn" (click)="deleteClick()">{{deleteTitle}}</button>
            <button type="button" mat-raised-button 
            class="btn btn-default btn-style reset-btn" (click)="cancelClick()">
            {{cancelTitle}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
